body {
  background-color: #f1f1f1;
  
}


h1{
  margin-left:50px;
  font-family:sans-serif;
}

.total{
  margin-left:800px;
  /* margin-top: 5%; */
  font-size: 30px;
}

.chart{
  margin-top: 5%;
  margin-left:400px;
  margin-bottom: 2%;
  font-size: 21px;
  font-weight: bold;
}